<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main class="administracion">
        <div class="tabla">
            <div class="buttonadd">
                <a href="/products/add" class="addproduct">
                    Agregar Producto
                </a>
            </div>
            <table>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>