<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    
    <%- include('./partials/header') %>

    <main class="register">

        <div class="contenido">

            <div class="ingresar">

                <div class="bienvenido">
                    <h1>Crear tu cuenta</h1>
                </div>
                

                <form action="">

                    <div class="input-contenedor">
                        <input type="text" placeholder="Ingresa tu Nombre Completo">
                    </div>

                    <div class="input-contenedor">
                        <input type="email" placeholder="Ingresa tu Email">
                    </div>

                    <div class="input-contenedor">
                        <input type="password" placeholder="Ingresa tu Contraseña">
                    </div>

                    <div class="input-contenedor">
                        <input type="password" placeholder="Confirma tu Contraseña">
                    </div>

                </form>

            </div>

        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>