body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home {
    padding: 0px 70px 30px 70px;
}
.home .combos img{
    width: 100%;
}
.home .pastas, .home .postres{
    display: flex;
    flex-wrap: wrap;
}

.home .pastas article.titulo, .home .postres article.titulo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 35px 0px;
}

.home .pastas article span, .home .postres article span{
    height: 1px;
    position: relative;
    flex-grow: 1;
    background-color: #352115;
}

.home .pastas article.titulo h3, .home .postres article.titulo h3{
    color: #352115;
    font-size: 20px;
    letter-spacing: 4px;
    border: 1px solid;
    padding: 25px !important;
}

.home .pastas .contenido, .home .postres .contenido{
    display: flex;
    flex-wrap: wrap;
    width: 380px;
}
.home .pastas .contenido .item, .home .postres .contenido .item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 35px;
}
.home .pastas .contenido .item:hover, .home .postres .contenido .item:hover{
    box-shadow: 0 10px 40px rgba(55, 33, 21, 1);
    transition: all 200ms;
    transform: scale(1.1);
}
.home .pastas .contenido .item .imagen, .home .postres .contenido .item .imagen{
    width: 100%;
    display: flex;
    justify-content: center;
}

.home .pastas .contenido .item .imagen img, .home .postres .contenido .item .imagen img{
    padding: 10px;
    width: 100%;
    border-radius: 70%;
}

.home .pastas .contenido .descripcion, .home .postres .contenido .descripcion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.home .pastas .contenido .descripcion h3, .home .postres .contenido .descripcion h3{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #595e5f;
}
.home .pastas .contenido .descripcion p, .home .postres .contenido .descripcion p{
    color: #595e5f;
}

.home .pastas .contenido .boton, .home .postres .contenido .boton{
    width: 140px;
    height: 45px;
    display: flex;
    margin: 5px 0;
    
}
.home .pastas .contenido .boton button, .home .postres .contenido .boton button{
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #352115;
    border-radius: 10px;

}
.home .pastas .contenido .boton button:hover, .home .postres .contenido .boton button:hover{
    cursor: pointer;
    background-color: #352115;
    color: aliceblue;
}